* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: gray;
  font-family: 'Poppins', sans-serif;
}

header ul li a {
  text-decoration: none;
  color: #FEFEFE;
  text-transform: uppercase;
}

header ul li {
  display: inline;
  padding: 0 3rem 0 0;
  font-size: 1.1rem;
  letter-spacing: .2rem;
  }

.navbar {
    display: flex;
    flex-direction column;
    padding: 2.3rem 0;
  }

.logo img{
  display: block;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  margin: 48px 75%;
}

.header-container {
  min-height: 95vh;
  padding-left: 10rem;
  padding-right: 10rem;
}





















/* footer */

footer {
 display: flex;
 justify-content: center;
}

.footer-links a {
  font-size: 2.6rem;
  display: inline;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.copyright {
  color: white;
  margin-top: 2rem;
  font-size: 2.6rem;
  letter-spacing: .1rem;
  margin-left: .1rem;
}
