* {
  box-sizing: border-box;
  /*outline: solid 1px #dddddd;*/
}

html {
  font-size: 10px;
}

body {
  background-color: #191A1B;
  font-family: 'Poppins', sans-serif;
}

/* Typography */

h1 {
  color: #FEFEFE;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: .3rem;
  line-height: 1.5;
}

h2 {
  font-size: 2.4rem;
  font-family: 'Playfair Display', serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

p {
  font-size: 1.4rem;
}


/* Homepage header*/

header ul li a {
  text-decoration: none;
  color: #FEFEFE;
  text-transform: uppercase;
}

header ul li {
  display: inline;
  padding: 0 3rem 0 0;
  font-size: 1.1rem;
  letter-spacing: .2rem;
  }

.navbar {
    display: flex;
    flex-direction column;
    padding: 2.3rem 0;
  }

.logo img{
  display: block;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  margin: 48px 75%;
}

#page1 .header-container {
  min-height: 95vh;
  padding-left: 10rem;
  padding-right: 10rem;
  background-image: url('../images/as_bkgrnd_logo.png');
  background-repeat: no-repeat;
  background-size: 31.5%;
  background-position: 50px 20px;

}

#page2 .header-container {
  min-height: 95vh;
  padding-left: 10rem;
  padding-right: 10rem;
}

.header-text {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.header-text h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  letter-spacing: .3rem;
  line-height: 1.5;
  color: #FEFEFE;
}

.more {
  color: #FEFEFE;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding-bottom: 2rem;
  text-align: center;


}
.more a {
  color: white;
  display: block;
  text-decoration: none;
  position: relative;

}

.more a::after {
  display: block;
  background-color: #FF058A;
  content: "";
  width: 128px;
  height: 1px;
  position: absolute;
  left: calc(50% - 64px);
  bottom: -1.5rem;
}


/* Homepage*/

main {
  background-color: #FEFEFE;
  min-height: 95vh;
}

.home-project {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto 100px;
}

.home-project-copy {
  margin-top: 10rem;
  margin-right: 5rem;
  padding-top: 2rem;

}

.home-project-copy h3 {
  font-size: 4rem;
  letter-spacing: .1rem;
  font-weight: 400;
  margin-bottom: 4rem;
  text-transform: uppercase;
  position: relative;
}

.home-project-copy h3::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: -2rem;
}

.home-project-copy h2 {
  font-weight: bold;
  margin-bottom: 4rem;
  line-height: 1.2;
}

.home-project-copy p {
  font-size: 1.8rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  line-height: 1.5;
  text-align: left;
}

@media screen and (min-width: 600px) {
  .home-project {
    grid-template-columns: 2fr 4fr;
    max-width: 75%;
    grid-gap: 30px;

  }
  .home-project-copy h2 {
    font-size: 4.8rem;
  }

  .header-text h1 {
    font-size: 6.1rem;
  }

}

.home-project-img {
  background: rgba(197,237,255,0.3);
  display: grid;
  margin-top: 10rem;
  width: 100%
}

.home-project-img img {
  width: 80%;
  margin: 0 auto;
  margin-top: 2.5rem;
}

button {
  border: 2px solid #FFF01C;
  border-radius: 4px;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  width: 100%;
}

/* footer */

footer {
 display: flex;
 justify-content: center;
 padding-bottom: 7rem;
}

#page2 footer{
  display: flex;
  justify-content: center;
  padding-bottom: 7rem;
  padding-top: 5rem;

}

.footer-links a {
  font-size: 2.6rem;
  display: inline;
  color: #FFFFFF;
  padding-left: 1.8rem;
  padding-right: 1.5rem;
}

.copyright {
  color: #FFFFFF;
  margin-top: 3rem;
  font-size: 2.6rem;
  letter-spacing: .1rem;
  margin-left: .1rem;
}

.pink {
  color: #FF058A;
  font-style: italic;
  font-weight: bold;
  font-size: 6.4rem;
}

/***********Case Study Page********/

/* Case Study Header*/

.project-header-container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  max-width: 100%;
  grid-gap: 30px;
  margin-top: 5rem;

}

.project-header-text h2 {
  color: #FEFEFE;
  font-size: 4.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 4rem;
  margin-top: 20rem;
  line-height: 1.2;
  letter-spacing: .2rem;
  padding-top: 2rem;
  text-transform: uppercase;
  position: relative;

}

.project-header-text h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.project-header-text p {
  color: #FEFEFE;
  font-size: 1.8rem;
  font-weight: lighter;
  margin-bottom: 4rem;
  line-height: 1.5;
  letter-spacing: .1rem;
  text-align: left;
}

.proj-header-img {
  display: grid;
  width: 100%
}

.proj-header-img img {
  width: 80%;
  margin: 0 auto;
}

.project-header-text button {
  background-color: transparent;
}

/*Case Study Body*/

.overview {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 10rem 10rem;
}

.overview h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
}

.overview h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.overview  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

/*design process*/

.design-process {
    /*background-color: #191A1B;*/
    background-image: url('../images/design_process_bkgrnd.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 2000px;
    background-size: contain;

  }

.design-process-header h1 {
    border-bottom: 7px solid #FFF01C;
    color: #FFFFFF;
    font-size: 6.4rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    grid-column: 2;
    width: 50%;
  }

.blockquote {
  position: relative;
  text-align: left;
  padding: 1rem;
  grid-column: 2;
  width: 100%;
  max-width: 600px;
  z-index: 1;
}

.blockquote h1 {
  background-color: #191A1B;
  color: #FFFFFF;
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 1.3;
  padding: 20px;

}
/*animation*/

.blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(#FF058A, #FFF01C);
  background-size: 400% 400%;
  animation: gradientborders 30s ease infinite;

}

@keyframes gradientborders {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}

.design-process-container,
.design-process-header {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}


.design-process-container h2 {
  color: #FFFFFF;
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;

}

.design-process-container h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.design-process-container h4 {
  color: #FFFFFF;
  font-size: 1rem;

}

.design-process-container p {
  color: #FFFFFF;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  line-height: 1.5;
  padding-top: 5.3rem;
  margin-left: 5rem;

}

.design-process-content {
  grid-column: 2;
}

.key-findings {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 2rem 10rem;

}

.key-findings-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 5rem;

}


.key-findings-content p{
  color: #FFFFFF;
  padding: 1rem;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.55;
  margin-left: auto;
  margin-right: auto;
  width: 150px;

}

.key-findings-content h1 {
  color: #95E4E9;
  font-size: 12rem;
  font-weight: bold;
  text-align: center;

}

.key-findings h2 {
  color: #FFFFFF;
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
}

.key-findings h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

/*competitive analysis*/

.comp-analysis {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 10rem 10rem;
}

.comp-analysis h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.comp-analysis h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.comp-analysis h1 {
  color: #191A1B;
  font-size: 6.4rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
  grid-column: 2;
}

.comp-analysis  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.comp-analysis-content {
  grid-column: 2;
}

.comp-analysis-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: -2rem;

}

/*user persona*/

.persona {
  background-color: #191A1B;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.persona h2 {
  color: #ffffff;
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.persona h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.persona  p {
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

/*user stories*/

.stories-content {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.stories-content h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.stories-content h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.stories-content  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.stories-content {
  grid-column: 2;

}

.stories-img img {
  display: block;
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: 2rem;
  margin-top: -2rem;
  width: 58%;
  height: 58%;

}


/*user flows*/

.flows {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.flows h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.flows h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.flows  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.user-flow-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: -2rem;
  width: 80%;
  height:80%;
}

/*lo-fi wireframes*/

.lofi {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.lofi h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 120px;

}

.lofi h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.lofi  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.lofi-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: -1rem;
  width: 80%;
  height:80%;
}

/*hi-fi wireframes*/

.hifi {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.hifi h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 120px;
}

.hifi h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.hifi  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.hifi-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: -1rem;
  width: 80%;
  height:80%;
}


/*naming*/

.naming {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.naming h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
}

.naming h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.naming  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.naming-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: -1rem;
}


/*logo concept*/

.logo-concept {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.logo-concept h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.logo-concept h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.logo-concept  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.logo-concept-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: -1rem;
  width: 80%;
  height:80%;
}

/*branding*/

.branding {
  /*background-color: #191A1B;*/
  background-image: url('../images/brandng_bkgrnd_img.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 2000px;
  background-size: contain;


}

.branding-process-header {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;

}

.branding-process-header h1 {
  border-bottom: 7px solid #FFF01C;
  color: #FFFFFF;
  font-size: 6.4rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
  grid-column: 2;
  width: 50%;
  }


.branding-process-container,
.branding-process-header {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.branding-process-container h4 {
  color: #FFFFFF;
  font-size: 1rem;

}

.branding-process-container h2 {
  color: #FFFFFF;
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;

}

.branding-process-container h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.branding-process-container p {
  color: #FFFFFF;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.cobalt-logo-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  /* margin-top: -2rem; */
  padding: 2px solid red;

}

/*color palette*/

.color-palette {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.color-palette h2 {
  color: #FFFFFF;
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.color-palette h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.color-palette  p {
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.color-palette {
  grid-column: 2;

}

.color-palette-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

}

/*fonts*/

.fonts {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.fonts h2 {
  color: #FFFFFF;
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.fonts h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.fonts  p {
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.fonts {
  grid-column: 2;

}

/*images*/

.images {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.images h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.images h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.images  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.icons-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 80%;
  height: 80%;

}


/*preference testing*/

.testing {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.testing h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.testing h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.testing  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.pref-test-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 80%;
  height: 80%;

}


/*final mockups*/

.final-mockups {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.final-mockups  h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
  width: 60px;
}

.final-mockups h2::before {
  display: block;
  background-color: #fff01c;
  content: "";
  width: 130px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 1rem;
}

.final-mockups  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}

.final-mockup-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 80%;
  height: 80%;
}

/*lessons */

.lessons-container {
  background-color: #191A1B;
  padding: 5rem 10rem;
}

.lessons-header {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 5rem 10rem;
}

.lessons-header h2 {
  border-bottom: 7px solid #FFF01C;
  color: #FFFFFF;
  font-size: 6.4rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
  grid-column: 2;
  width: 60%;
  }

.lessons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 5rem;
}

.lessons h1 {
  color: #FFFFFF;
  font-size: 12rem;
  font-weight: bold;
  text-align: center;
}

.lessons p {
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 2rem;
  /*width: 80%;*/

}

/* next project*/

.next-project {
  background-color: white;
  min-height: 50vh;

}
